<div class="col-md-7">
  <h1>{{category.title}}</h1>
  <p>
  {{#each category.listings as |listing|}}
  {{listing-detail listing=listing deleteListing="deleteListing" category=category}}
  {{/each}}
</p>
</div>

<div class="col-md-5">
<h4 class="add">Add new listing to this category</h4>
{{new-listing saveListing="saveListing" category=category}}
</div>
