
button.active {
  display: none;
}

#listing-name {
  font-size: 45px;
  font-weight: bold;
  color: blue;
}

.listing-date {
  font-size: 25px;
}

.listing-date2 {
  font-size: 20px;
  font-style: italic;
  color: inherit;
}

.nav {
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: #CCFFFF;
}

.map-display {
  height: 300px;
  width: 300px;
}

.smile {
  font-stretch: condensed;
  font-size: 25px;
  font-family: fantasy;
}
