<h1>Welcome to our site</h1>
<div class="col-md-8">
  {{#each model.categories as |category|}}
    {{category-tile category=category}}
  {{/each}}
</div>

<div class="col-md-4">
<img src="http://www.free-smiley.de/Free_Smileys/250x250_Free-Smiley.gif">
</div>
