<h1>Welcome to our site</h1>
<div class="col-md-6">
  {{#each model.categories as |category|}}
    {{category-tile category=category}}
  {{/each}}
</div>
<div class="col-md-2">
  {{#if session.user}}
  <h4>You are logged in as {{session.user.name}}</h4>
{{/if}}

<p>{{#link-to "public"}}Public Page{{/link-to}}</p>
<p>{{#link-to "protected"}}Protected Page{{/link-to}}</p>
<p>{{#link-to "secret"}}Admin-only Page{{/link-to}}</p>
</div>

<div class="col-md-4">
<img src="http://www.free-smiley.de/Free_Smileys/250x250_Free-Smiley.gif">
</div>
